<div class="text-center">
	<h2>Angular Architecture</h2>
	<img src="http://192.199.1.15/Projects/file-transfer/amruta/AngularArchitecture.png" width="50%" height="50%" alt="">
</div>
<div class="text-justify">
	<p>Angular apps are modular and to maintain modularity, we have Angular modules or you can say NgModules. Every Angular app contains at least one Angular module, i.e. the root module. Generally, it is named as AppModule. The root module can be the only module in a small application. While most of the apps have multiple modules. You can say, a module is a cohesive block of code with a related set of capabilities which have a specific application domain or a workflow. Any angular module is a class with @NgModule decorator.</p>
</div>